{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block head_title %}
    Home
{% endblock head_title %}

{% block content %}
    <h1>Update</h1>
    <img id="preview" alt="" class="w-25" src="{{ object.image.url }}">
    <form id="image-form" method="post" class="mb-3" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <p id="error_1_id_image" class="invalid-feedback d-block"><strong id="error"></strong></p>
        <input class='btn btn-primary' type="submit" value="Save"/>
    </form>
    <hr>
    <div id="history">
        {% for history in object.imagehistory_set.all %}
            <div class="row mb-3">
                {% if not forloop.first %}
                    <div class="col-4">
                        <div class="card h-100">
                            {% if history.old_image %}
                                <img class="card-img-top" src="{{ history.old_image.url }}"
                                     alt="Card image cap">
                            {% endif %}

                        </div>
                    </div>

                    <div class="col-1 d-flex align-items-center">
                        <p>to</p>
                    </div>
                {% endif %}
                <div class="col-4">
                    <div class="card h-100">
                        {% if history.new_image %}
                            <img class="card-img-top" src="{{ history.new_image.url }}"
                                 alt="Card image cap">
                        {% endif %}
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <p>
                        {{ history.created_at }} <br>
                        {% if forloop.first %}
                            image created
                        {% else %}
                            update image
                        {% endif %}
                    </p>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock content %}

<script>
    {% block jqery %}
        const imageForm = document.getElementById("image-form")
        const history = document.getElementById("history")
        const preview = document.getElementById("preview")
        const error = document.getElementById("error")

        imageForm.onsubmit = (e) => {
            e.preventDefault()
            const formData = new FormData(e.currentTarget)

            fetch("{{ request.path }}", {
                method: "POST",
                body: formData,
                headers: {"X-Requested-With": "XMLHttpRequest"},
            }).then((res) => {
                res.json().then((data) => {
                    if (res.status === 400) {
                        error.innerText = data.image[0]
                        return
                    }
                    error.innerText = ""
                    imageForm.reset();
                    preview.setAttribute("src", data.new_image)
                    history.innerHTML += '<div class="row mb-3"> ' +
                        '<div class="col-4"> <div class="card h-100"> ' +
                        '<img class="card-img-top" src="' + data.old_image + '" alt="Card image cap"> ' +
                        '</div> </div> <div class="col-1 d-flex align-items-center"> <p>to</p> </div> <div class="col-4">' +
                        ' <div class="card h-100"> <img class="card-img-top" src="' + data.new_image + '" alt="Card image cap">' +
                        ' </div> </div> <div class="col-3 d-flex align-items-center"> <p> ' + (new Intl.DateTimeFormat('en-US', {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                            hour: 'numeric',
                            minute: 'numeric',
                            hour12: false
                        }).format(new Date(data.created_at))) + ' <br> update image </p> ' +
                        '</div> </div>'
                })
            })
        }
    {% endblock %}
</script>
